<header></header>

<!-- Wrapper container -->
<div class="container py-4">
    <h1 style="text-align: center">Pré Cadastro</h1>
    <form #myForm="ngForm" (ngSubmit)="onSubmit('')">
      <div class="form-group">
        <label for="inputNomeCompleto">Nome completo</label>
        <input type="text" class="form-control" id="inputNomeCompleto" [(ngModel)]="nomeCompleto" name="nomeCompleto" placeholder="Digite seu nome completo">
      </div>
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" [(ngModel)]="email" name="email" placeholder="Digite seu email">
      </div>
      <div class="form-group">
        <label for="inputTelefone">Telefone ou Celular</label>
        <input type="tel" class="form-control" id="inputTelefone" [(ngModel)]="telefoneCelular" name="telefoneCelular" placeholder="Digite seu telefone ou celular">
        <small id="emailHelp" class="form-text text-muted">Preferencialmente whatsapp para facilitar a comunicação!</small>
      </div>
      <div class="form-group">
        <label for="inputCep">Cep</label>
        <input type="text" class="form-control" id="inputCep" [(ngModel)]="cep" name="cep" placeholder="Digite seu CEP">
        <small id="emailHelp" class="form-text text-muted">Este é um caráter eliminativo, atualmente só contemplamos pessoas da região da Zona Leste de São Paulo (Arredores do Sapopemba).</small>
      </div>
      <div class="form-group">
        <label for="inputComoConheceu">Como conheceu o Projeto?</label>
        <select class="form-control" id="inputComoConheceu" [(ngModel)]="comoConheceu" name="comoConheceu">
          <option *ngFor="let opcao of comoConheceuOpcoes">{{opcao}}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="comoConheceu === 'Amigo ou Parente'">
        <label for="inputNomeAmigo">Nome do amigo/parente que indicou o projeto</label>
        <input type="text" class="form-control" id="inputNomeAmigo" [(ngModel)]="nomeAmigo" name="nomeAmigo" placeholder="Digite o nome do amigo/parente">
      </div>
      <div class="form-group">
        <label for="inputNecessidade">Porque você acha que tem necessidade de receber ajuda com cestas básicas?</label>
        <textarea class="form-control" id="inputNecessidade" [(ngModel)]="necessidade" name="necessidade" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>    
  
   
  </div>

  <footer></footer>