<header></header>
<div class="welcome">
  <h3 class="welcome-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis augue ut velit pretium ultricies. Donec varius tempor lacinia. Morbi rhoncus felis nec neque auctor, sed rutrum leo tempus. Fusce tincidunt elit ac viverra porttitor. Praesent vulputate neque et tellus egestas porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut ornare justo ac porttitor interdum. Sed ut justo ante. Ut vulputate, tellus condimentum feugiat condimentum, dui ligula vestibulum felis, in sagittis est tortor ut ligula. Maecenas cursus luctus nunc eu elementum. Duis ultrices orci quis cursus molestie. Nulla leo turpis, rutrum a tincidunt quis, bibendum nec nisl. Duis malesuada est felis. In blandit ligula in augue facilisis, in ullamcorper quam tristique. Phasellus dictum, ligula nec facilisis sollicitudin, lectus enim facilisis lacus, et ultrices diam neque id tortor.

    Integer ornare mauris eget neque lobortis, quis cursus enim pretium. Suspendisse dapibus mattis tortor nec varius. Morbi in nisi vehicula, vulputate nibh elementum, accumsan lorem. Curabitur laoreet rutrum mollis. Duis orci metus, faucibus quis dapibus sed, sagittis et nisi. Aliquam erat volutpat. Praesent id dictum felis. Maecenas felis enim, iaculis at risus dignissim, consequat dignissim ipsum. In placerat lacus non ante pretium commodo. Donec consectetur luctus pretium. Sed sed ligula pharetra, tincidunt tortor sed, dapibus urna. Donec at enim sed ligula finibus sodales quis eu tortor. Proin sit amet mattis ipsum. Nulla in ante blandit, imperdiet tellus a, blandit velit. Sed augue libero, interdum in imperdiet at, interdum id erat. Nullam ut metus iaculis, ornare dolor vitae, egestas arcu.</h3>
    <img src="../../../assets/img/cestas-image.png">
</div>






<div class="cards-list">
  
  <div class="card 1">
    <div class="card_image"> <img src="../../../assets/img/doador.jpg" /> </div>
  </div>
  
    <div class="card 2">
    <div class="card_image">
      <img src="../../../assets/img/contemplado.jpg" />
      </div>
  </div>

  
  </div>



  <div class="welcome">
    <img src="../../../assets/img/vector-donation.jpg">
    <h3 class="welcome-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis augue ut velit pretium ultricies. Donec varius tempor lacinia. Morbi rhoncus felis nec neque auctor, sed rutrum leo tempus. Fusce tincidunt elit ac viverra porttitor. Praesent vulputate neque et tellus egestas porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut ornare justo ac porttitor interdum. Sed ut justo ante. Ut vulputate, tellus condimentum feugiat condimentum, dui ligula vestibulum felis, in sagittis est tortor ut ligula. Maecenas cursus luctus nunc eu elementum. Duis ultrices orci quis cursus molestie. Nulla leo turpis, rutrum a tincidunt quis, bibendum nec nisl. Duis malesuada est felis. In blandit ligula in augue facilisis, in ullamcorper quam tristique. Phasellus dictum, ligula nec facilisis sollicitudin, lectus enim facilisis lacus, et ultrices diam neque id tortor.
</h3>
      
  </div>
  
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../../assets/img/example1.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../assets/img/example2.jpeg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../assets/img/example3.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>





  <!-- Wrapper container -->
<div class="container py-4">

  <h1 style="text-align: center;">Pré Cadastro</h1>

  <!-- Bootstrap 5 starter form -->
  <form id="contactForm">

    <!-- Name input -->
    <div class="mb-3">
      <label class="form-label" for="name">Nome Completo</label>
      <input class="form-control" id="name" type="text" placeholder="Exemplo: Maria da Silva" />
    </div>

    <!-- Email address input -->
    <div class="mb-3">
      <label class="form-label" for="emailAddress">Email</label>
      <input class="form-control" id="emailAddress" type="email" placeholder="Exemplo: Maria@Email.com" />
    </div>

    <!-- Name input -->
    <div class="mb-3">
      <label class="form-label" for="cep">Cep</label>
      <input class="form-control" id="cep" type="text" placeholder="Exemplo: 15489-254" />
    </div>

    <!-- Form submit button -->
    <div class="d-grid">
      <button class="btn btn-primary btn-lg" type="submit">Submit</button>
    </div>

  </form>

</div>

<footer></footer>